<header th:fragment="header" class="navbar py-3 navbar-expand-lg container-sm mx-auto border-bottom">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-drawer"
        aria-controls="menu-drawer" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="menu-drawer" aria-labelledby="menu-drawer-label">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="menu-drawer-label">Menu</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" href="/" th:classappend="${currentUrl == '/' ? 'active' : ''}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog" th:classappend="${currentUrl == '/blog' ? 'active' : ''}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/add"
                        th:classappend="${currentUrl == '/blog/add' ? 'active' : ''}">New post</a>
                </li>
            </ul>
        </div>
    </div>
</header>